* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #FFFFFF;
}

.center {
  max-width: 1440px;
  margin: auto;
  padding-left: calc(50% - 41.6666666667vw);
  padding-right: calc(50% - 41.6666666667vw);
}

a {
  text-decoration: none;
}

.button {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border: none;
  border-radius: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.button:hover {
  background: #EB443F;
}

.top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(./img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 1024px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.top__heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 201.1px;
  max-width: 789px;
}
.top__text {
  max-width: 481px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.top__text_bold {
  font-weight: 700;
}
.top__button {
  margin-top: 28px;
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
       column-gap: 32px;
  justify-items: stretch;
  align-items: center;
  min-height: 556px;
  background: #000915;
}
.content__item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  grid-column: span 4;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  min-height: 300px;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
  margin: 128px 0 128px 0;
  padding-left: 32px;
  padding-bottom: 32px;
  transition: all 0.3s;
}
.content__item:hover {
  scale: 1.03;
  border: 3px solid #44D2FF;
}
.content__item:first-child {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/item1.png);
}
.content__item:nth-child(2) {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/item2.png);
}
.content__item:nth-child(3) {
  background-image: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/item3.png);
}
.content__info {
  grid-column: span 6;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
}
.content__info_game3 {
  align-items: center;
  background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(./img/unsplash_iO0I6-mhDEY.png), #000915;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.content__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}
.content__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
}
.content__image-box {
  min-height: 800px;
  grid-column: span 6;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.content__image-box_game2 {
  align-items: flex-start;
}
.content__image {
  max-width: 33.6805555556vw;
}
.content__image_game2 {
  max-width: 33.4027777778vw;
}

.footer {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000915;
}
.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    min-height: 735px;
    align-items: center;
    gap: 32px;
  }
  .top__heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-top: 238.7px;
  }
  .top__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .top__button {
    margin-top: 0;
  }
  .content {
    padding-top: 128px;
    align-content: center;
    min-height: 1221px;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 32px;
  }
  .content__item {
    margin: 0;
    grid-column: 1/-1;
    padding-left: 16px;
  }
  .content__info {
    grid-column: 1/-1;
    align-items: center;
    justify-content: flex-start;
    padding-top: 146.87px;
    min-height: 217.6px;
  }
  .content__info_game2 {
    padding-top: 104px;
  }
  .content__info_game3 {
    min-height: 880px;
    padding-top: 136.4px;
    box-sizing: border-box;
  }
  .content__heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .content__text {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }
  .content__image-box {
    grid-column: 1/-1;
    min-height: 236px;
    margin-top: 32px;
  }
  .content__image-box_game2 {
    order: 6;
  }
  .content__image {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */