* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.top {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(./img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1024px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__heading {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 217.1px;
    }

    &__text {
        max-width: 481px;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;

        &_bold {
            font-weight: 700;
        }
    }

    &__button {
        margin-top: 12px;
        width: 234.06px;
        height: 48.6px;
        background: #9C0332;
        border-radius: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;

        &:hover {
            background: #EB443F;

        }
    }
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    justify-items: stretch;
    align-items: center;
    min-height: 556px;
    background: #000915;



    &__item {
        box-sizing: border-box;
        grid-column: span 4;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        min-height: 300px;
        border-radius: 16px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-start;
        padding-left: 32px;
        padding-bottom: 32px;
        transition: all .3s;

        &:hover {
            scale: 1.03;
            border: 3px solid #44D2FF;
        }

        &_1 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/item1.png);
        }

        &_2 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/item2.png);
        }

        &_3 {
            background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/item3.png);
        }
    }
}